In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\USER\Downloads\try.csv")
df.head()

  Column1 Org Display Name
0       1         2S Metal
1     3BB              3BB
2      30      A.J. PLAST
3      22    AAPICO Hitech
4    ABPO             ABPO

In [6]:
def Title_string(s):
    if len(s) <= 4:
        return s.upper()
    else:
        return s.title()


def Cut_words(x):
    words_to_remove = ["Public Company Limited",  "Co., Ltd.", "(Thailand)", "Thailand"]
    for word in words_to_remove:
        x = x.replace(word, "")
    return x.strip()

In [7]:
df['Org Display Name'] = df['Org Display Name'].apply(lambda x: transform_string(x) if isinstance(x, str) else x)
df['Org Display Name'] = df['Org Display Name'].apply(Cut_words)

df

             Column1       Org Display Name
0                  1               2S Metal
1                3BB                    3BB
2                 30             A.J. Plast
3                 22          Aapico Hitech
4               ABPO                   ABPO
...              ...                    ...
1449             917       Yuasa Battery ()
1450             918                Zalekta
1451             919  Zen Corporation Group
1452             920        Ziga Innovation
1453  Zuellig Pharma         Zuellig Pharma

[1454 rows x 2 columns]

In [8]:
df.to_csv(r'D:/newtry.csv', sep='\t', encoding='utf-8', header='true')